@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 2, 2;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* styles/globals.css */

.nav-link {
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.nav-link:hover {
  background-color: #f0f0f0;
  border-radius: 4px;
}

.nav-link.active {
  background-color: #ddd;
  font-weight: bold;
}

.Descuentos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* 3 columnas iguales */
  gap: 16px;
  /* Espacio entre los productos */
  padding: 80px;
}

/* shouldHideOnScroll */

.navBar {
  background-color: #66aaf9;
}
